@font-face {
  font-family: 'Digital7';
  src: url(../fonts/digital-7.ttf) format('truetype');
}

@font-face {
  font-family: 'Android';
  src: url(../fonts/Android_101.ttf) format('truetype');
}

@font-face {
  font-family: 'OEG';
  src: url(../fonts/OPTIEdgarBold-Extended.otf) format('truetype');
}



$font-calc: 'Digital7';
$font-android: 'Android';
$font-oeg: 'OEG';

@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-calc;
  background: linear-gradient(to right, #808080, #3fada8);
}

p {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.calc {
  &__body {
    height: 500px;
    width: 325px;
    background-color: #ffffff;
    box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 10px;
  }

  &__head {
    background-color: #422819;
    width: 315px;
    height: 235px;
    padding: 5px;
    @include flex;
    justify-content: center;


    &--inner {
      background-color: #252115;
      @include flex;
      width: 295px;
      justify-content: center;
      margin: 12px 0;
    }

    &--solarcontainer {
      @include flex;
      justify-content: center;
      width: 100%;
      padding-bottom: 5px;
      border-bottom: 2.5px dashed #9e4a26;
      margin-bottom: 10px;
    }

    &--solar {
      background-color: #4e3227;
      border: 0.5px solid #53443d;
      width: 56px;
      height: 56px;
      margin-top: 4px;
    }

    &--display {
      background-color: #767a69;
      width: 245px;
      height: 50px;
      border-radius: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 20px;
      box-sizing: border-box;
      font-size: 40px;
    }
  }

  &__orange {
    @include flex;
    align-items: center;
    background-color: #bc551a;
    height: 30px;
    box-sizing: border-box;
    padding: 0 15px;
    color: white;
    font-family: "OEG";
    justify-content: space-between;

    &--type {
      font-size: 5px;

      &:nth-of-type(1) {
        color: black;
      }
    }
  }

  &__pad {
    width: 325px;
    height: 230px;
    @include flex;
    justify-content: flex-start;
    background-color: #c1bbaf;
    box-sizing: border-box;
    padding: 5px;
    

    &--cards {
      width: 90px;
      height: 21px;
      padding: 5px 20px;
    }

    &--buttons {
      @include flex;
      justify-content: space-evenly;
      width: 325px;
      padding: 5px;
      
    }

    &--solarcell {
      @include flex;
      margin-right: auto;
      font-family: $font-calc;
      padding-left: 10px;
      font-size: 10px;
      align-items: center;
    }
  }

  &__button {
    @include flex;
    justify-content: center;
    align-content: center;
    width: 45px;
    height: 25px;
    border: 4px solid #000000;
    background-color: #313632;
    border-radius: 4px;
    font-family: $font-android;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;

    &:hover {
      background-color: #6d726e;
      transition: .3s ease-in-out;
    }
  }
}

.solarcell__img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}
